body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

h2, h3 {
    margin-top: 0;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

ul li button {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

ul li button:hover {
    background-color: #c0392b;
}
