body {
    font-size: 14px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h2, h3 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #002147;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00172e;
}

#accountList {
    list-style: none;
    padding: 0;
}

#accountList li {
    background-color: #002147; /* styles.css dosyasındaki renk */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    color: #FFF;
}

#accountList li:hover {
    background-color: #00172e; /* styles.css dosyasındaki hover rengi */
}

#accountDetails {
    margin-top: 20px;
}

#accountDetails p {
    margin: 0;
    padding: 5px 0;
}

.message {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

/* Yeni CSS kodları */
.installment-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
