body {
    font-size: 14px; /* Varsayılan yazı boyutu */
    background-color: #F0F0F0; /* Genel arka plan rengi */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFF; /* Beyaz zemin */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    overflow-x: auto; /* Yatay taşmayı önlemek için */
    max-width: 1200px; /* Maksimum genişliği artırdık */
    width: 100%;
    margin-bottom: 20px; /* Tablolar arasında boşluk */
}

.table-container {
    overflow-x: auto; /* Yatay taşmayı önlemek için */
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse; /* Sınırları birleştir */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #CCC; /* Hücre sınırları */
}

th {
    position: sticky;
    top: 0;
    background-color: #FFF; /* Başlık arka plan rengi */
    z-index: 2;
}

.font-control-buttons {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.font-control-buttons button {
    padding: 5px 10px;
    font-size: 14px;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.action-buttons button {
    padding: 5px 10px;
    font-size: 12px;
}

/* Loading overlay stilini ekleyelim */
.loading-overlay {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Yarı şeffaf siyah arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Üstte görünmesi için */
}

.loading-container {
    display: flex;
    flex-direction: column; /* Dikey hizalama için */
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Hafif şeffaf beyaz arka plan */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    color: #333; /* Daha koyu yazı rengi */
    font-size: 20px;
    margin-top: 10px; /* Spinner ile text arasında boşluk */
    text-align: center;
}
