/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* Sol ve Sağ Bölüm */
.left, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Gölge için gerekli */
    flex-direction: column;
}

/* Sol Bölüm */
.left {
    background-color: #ee7942; /* Daha soft turuncu arka plan */
    color: #FFF;
    padding: 20px;
    z-index: 1; /* Üstte görünmesini sağlar */
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3); /* Sağ tarafa gölge efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Sağ Bölüm */
.right {
    background-color: #E0E0E0; /* Gri arka plan */
    padding: 20px;
    z-index: 0; /* Altta görünmesini sağlar */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Bilgi Alanı */
.info {
    max-width: 400px;
    background-color: #FFF; /* Beyaz dikdörtgen */
    color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    color: #FFF;
}

/* Başlık */
h2 {
    color: #FFF;
    background-color: #002147;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

/* Form ve Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

/* Form Etiketler */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Form Girdileri */
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Butonlar */
button {
    background-color: #ee7942;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #E04000;
}

/* Giriş Yap Linki */
.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #002147;
}

.login-link a {
    color: #ee7942;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Mesaj Alanı */
.message {
    margin-top: 20px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    background-color: #ff6a6a; /* Kırmızı arka plan */
    padding: 10px;
    border-radius: 5px;
    display: none; /* Hata olmadığında görünmez */
}
