body {
    font-size: 14px; /* Varsayılan yazı boyutu */
    background-color: #F0F0F0; /* Genel arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Tarayıcı varsayılan boşluklarını kaldır */
    overflow: hidden; /* Sayfanın tamamının kaydırılmasını engelle */
}

.container {
    background-color: #FFF; /* Beyaz zemin */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 70px auto; /* Yukarıdan ve aşağıdan 70px margin ekledik */
    max-width: 1200px; /* Maksimum genişliği artırdık */
    width: 100%;
    height: calc(100vh - 140px); /* Yüksekliği hesapla (70px yukarıdan ve aşağıdan margin için) */
    display: flex;
    flex-direction: column; /* Çocuk öğeleri dikeyde hizala */
}

.table-container {
    overflow: auto; /* Hem yatay hem dikey taşmayı önlemek için */
    flex-grow: 1; /* Konteynerin geri kalanını kapla */
    margin-top: 10px; /* Üstten boşluk bırak */
    margin-bottom: 10px; /* Alttan boşluk bırak */
}

table {
    width: 100%;
    border-collapse: collapse; /* Sınırları birleştir */
    table-layout: auto; /* Hücrelerin genişliği içeriğe göre belirlensin */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #CCC; /* Hücre sınırları */
    white-space: nowrap; /* Metni tek satırda göster */
    overflow: hidden; /* Taşan metni gizle */
    text-overflow: ellipsis; /* Taşan metin için üç nokta kullan */
}

.font-control-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.font-control-buttons button {
    padding: 5px 10px;
    font-size: 14px;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

.action-buttons button {
    padding: 5px 10px;
    font-size: 12px;
}

/* Loading overlay stilini ekleyelim */
.loading-overlay {
    display: none; /* Başlangıçta gizli */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Yarı şeffaf siyah arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Üstte görünmesi için */
}

.loading-container {
    display: flex;
    flex-direction: column; /* Dikey hizalama için */
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Hafif şeffaf beyaz arka plan */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-spinner {
    border: 8px solid #cccccc; /* Daha koyu gri */
    border-top: 8px solid #3498db; /* Mavi */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    color: #333; /* Daha koyu yazı rengi */
    font-size: 20px;
    margin-top: 10px; /* Spinner ile text arasında boşluk */
    text-align: center;
}
