/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    width: 100%;
    background-color: #002147;
    color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
}

#logoutButton {
    background-color: #ee7942;
    color: #FFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#logoutButton:hover {
    background-color: #E04000;
}

/* İçerik */
.content {
    text-align: center;
    margin-top: 20px;
}

.content h2 {
    margin-top: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.navigation a {
    background-color: #002147;
    color: #FFF;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.navigation a:hover {
    background-color: #00172e;
}

/* Mesaj Alanı */
.message {
    margin-top: 20px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    background-color: #ff6a6a; /* Kırmızı arka plan */
    padding: 10px;
    border-radius: 5px;
    display: none; /* Hata olmadığında görünmez */
}
